# Environment variables
.env

# Python caches
__pycache__/
*.pyc

# Weights & Biases
wandb/

# Hugging Face cache
hf_cache/

# Local checkpoints
best_checkpoint/
last_checkpoint/

# Output runs
runs/
LOZO/
.deploy_keys/
